# PostgreSQL Root Password (used by Docker image)
POSTGRES_DB=intellibills
POSTGRES_USER=postgres
POSTGRES_PASSWORD=super_secret_root_password

# Intellibills Application Roles
APP_RUNTIME_PASSWORD=runtime_password
APP_WORKER_PASSWORD=worker_password
APP_ADMIN_PASSWORD=admin_password
AUDITOR_PASSWORD=auditor_password
